version: 2
jobs:
  build:
    machine: true
    branches:
      only:
        - master
    steps:
      - checkout
      # build and push Docker image
      - run:
          name: Build Trinity Core binaries
          command: |
            echo Building BotsPlusPlus with $CIRCLE_BRANCH branch
            mkdir artifacts
            docker run -it --rm -v "$PWD/artifacts":/artifacts timothystewart6/trinitycore-docker -r "https://github.com/timothystewart6/BotsPlusPlus.git" -b $CIRCLE_BRANCH
            ## testing
            # mkdir -p artifacts/bin
            # mkdir -p artifacts/etc
            # touch artifacts/bin/authserver
            # touch artifacts/bin/worldserver
            # touch artifacts/etc/worldserver.conf.dist
            # touch artifacts/etc/authserver.conf.dist
            ## testing
            # artifacts
      - store_artifacts:
          path: artifacts/
      - run:
          name: Build & Push Docker Image
          command: |
            # prep
            export SHORT_GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
            # worldserver
            cp artifacts/bin/worldserver docker/worldserver/
            mkdir docker/worldserver/etc
            cp artifacts/etc/worldserver.conf.dist docker/worldserver/etc
            # authserver
            cp artifacts/bin/authserver docker/authserver/
            mkdir docker/authserver/etc
            cp artifacts/etc/authserver.conf.dist docker/authserver/etc
            cd docker/authserver
            export REPO=$DOCKER_USERNAME/$DOCKER_BOTSPLUSPLUS_AUTHSERVER
            export TAG=latest
            echo $REPO:$TAG:$SHORT_GIT_HASH
            docker build -f Dockerfile -t $REPO:$SHORT_GIT_HASH .
            docker tag $REPO:$SHORT_GIT_HASH $REPO:$TAG
            docker tag $REPO:$SHORT_GIT_HASH $REPO:$CIRCLE_BUILD_NUM
            # push if master
            if ["$CIRCLE_BRANCH" == "master"]; then
              docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
              docker push $REPO
            fi
            # worldserver
            cd ../worldserver;
            export REPO=$DOCKER_USERNAME/$DOCKER_BOTSPLUSPLUS_WORLDSERVER
            export TAG=latest
            echo $REPO:$TAG:$SHORT_GIT_HASH
            docker build -f Dockerfile -t $REPO:$SHORT_GIT_HASH .
            docker tag $REPO:$SHORT_GIT_HASH $REPO:$TAG
            docker tag $REPO:$SHORT_GIT_HASH $REPO:$CIRCLE_BUILD_NUM
            # push if master
            if ["$CIRCLE_BRANCH" == "master"]; then
              docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
              docker push $REPO
            fi